{% extends "index.html" %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<div class="dropdown5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Car Service
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/retrieveService1">All</a></li>
    <li><a class="dropdown-item" href="/retrieveService">Service</a></li>
    <li><a class="dropdown-item" href="/retrieveCarservice">Car service</a></li>
  </ul>
  </div>
<div class="dropdown5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Create
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/createService">Service</a></li>
    <li><a class="dropdown-item" href="/createCarservice">Car Service</a></li>
  </ul>
</div>

<h1 class="display-4">Car Services</h1>
<div>
  {% if count2 == 0 %}
  <p>There are no Car services.</p>
  {% elif count2 == 1 %}
  <p>There is 1 Car service.</p>
  {% else %}
  <p>There are {{ count2 }} Car services.</p>
  {% endif %}
</div>
<div>
  <table id="datatablesSimple">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Hotline</th>
        <th>Starting hour</th>
        <th>Ending hour</th>
        <th>Opening days</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
    {% for carservice in carservices_list %}
      <tr>
        <td><img src="static/images/{{ carservice.get_image() }}" width="100"></td>
        <td>{{ carservice.get_name() }}</td>
        <td><!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{ carservice.get_carservice_id() }}">
    Description
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter{{ carservice.get_carservice_id() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{ carservice.get_name()}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table>
          <tr><td>Description: {{ carservice.get_description() }}</td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div></td>
        <td>{{ carservice.get_location() }}</td>
        <td>{{ carservice.get_hotline() }}</td>
        <td>{{ carservice.get_starting_hour() }}</td>
        <td>{{ carservice.get_ending_hour() }}</td>
        <td>{{ carservice.get_opening_days() }}</td>
        <td class="{% if carservice.get_availability() == 'Available' %} text-success {% else %} text-danger {% endif %}">{{ carservice.get_availability() }}</td>
        <td><a href="/updateCarservice/{{carservice.get_carservice_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_carservice', id=carservice.get_carservice_id())}}" method="POST">
    <!--<input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete  {{carservice.get_name()}}?');">-->
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{carservice.get_carservice_id()}}">
      Delete
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal_{{carservice.get_carservice_id()}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete  {{carservice.get_name()}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
